.header{
    &--details{
        height: auto;
    }
}

.main{
    &__container{
        width: 95%;
        margin: 0 auto;
    }
}

.details{
    display: flex;

    &__poster{    
        .poster-image{
            width: 432px;
            height: 630px;
            margin: 24px 0px;
        }

    }

    &__links{
        display: flex;
        justify-content: space-between;
        .trailer-svg{
            fill: rgba(255, 255, 255, 0.8);
        }
    }

    &-content{
        margin: 0px 40px;

        &__title{
            font-weight: 500;
            font-size: 32px;
            color: #FFFFFF;
            margin: 16px 0px 8px;
        }

        &__rating{
            .star{
                margin-right: 4px;
            }
        }

        &__tags{
            margin: 20px 0 32px;
        }

        &__columns{
            display: table;
            border-spacing: 32px;
            margin: -32px 0 0 -32px;
        }

        &__row{
            display: table-row;
        }

        &__col{
            display: table-cell;
            font-size: 16px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.8);

            &:last-child{
                font-weight: 300;
            }
        }

    }
}

.previews{
    &__list{
        display: flex;
    }

    &__title{
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 32px;
    }

    .preview__link{
        background: transparent;
        cursor: pointer;
    }
}


.movie-posters{
    width:100%;

    &__list{
        width:100%;
        display: flex;
        justify-content: space-between;
    }

    &__title{
        font-weight: 300;
        font-size: 20px;
        color: #FFFFFF;
        margin: 42px 0 32px;
    }

    &__item{
        &--small{
            width:19%;
        }

        &--big{
            width:52%;
        }
    }

    .movie-image{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:1024px){
    .details{
        flex-direction: column;
        align-items: center;

        &-content{
            &__row{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 464px){
    .details{
        &__poster{    
            .poster-image{
                width: 100%;
                height: auto;
            }
    
        }
    }
}