.cinema-menu{
    width:100%;

    &__title{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        margin: 40px 0;
    }

    &__list-goods{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1162px;
        margin: 0 auto;
    }
}

.filters{
    margin: 0 auto 64px;
    display: flex;
    list-style: none;
    justify-content: center;

    &__item{
        margin-right: 64px;

        &:last-child{
            margin-right: 0;
        }
    }

    &__link{
        text-decoration: none;
        font-weight: 300;
        font-size: 16px;
        color: #fff;

        &:hover,&--active{
            text-decoration: underline;
        }
    }
}

.good{
    width: 294px;
    height: 396px;
    margin: 0 7% 7% 0;
    background: rgba(255, 255, 255, 0.01);
    display: flex;
    flex-direction: column;
    align-items: center;


    &__image{
        width: 150px;
        height: 150px;
        margin:32px 0;

        .img-good{
            width: 100%;
            height: 100%;
        }
    }

    &-info{
        &__title{
            font-size: 18px;
            color: #FFFFFF;
            text-align: center;
        }

        &__price{
            font-weight: 300;
            font-size: 16px;
            color: #FFFFFF;
            margin: 16px 0px;
            text-align: center;
        }
    }

    &__bottom{
        justify-self: flex-end;
        display: flex;
        justify-content: space-between;
        margin: 40px 19px;
    }

    &__size-select{
        width: 90px;
        height: 28px;
        font-weight: 300;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
    }

    &__count-value{
        font-weight: 300;
        font-size: 18px;
        margin: 0px 24px;
        color: #FFFFFF;
    }

    &__button{
        cursor: pointer;
        outline: none;
        background: transparent;
        width: 24px;
        height: 24px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }
}