.seats{
    width:100%;
    
    &__title{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        margin:40px 0;
    }
}

.seats-map{
    width: 1376px;
    height: 950px;
    margin: 0 auto;

    &__general{
        display: flex;
        justify-content: space-between;
    }

    &__content{
        display:flex;
        flex-direction: column;
    }
    &__vip{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        .seats-map__row:first-child{
            .seat:first-child,
            .seat:last-child{
                width: 60px;
            }
        }
    }

    &__top{
        display: flex;
        justify-content: space-between;
        border-top: 5px solid #FF1F5A;
    }
    &__col-name{
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 80px;

        &:nth-child(2){
            margin-top: 30px;
        }
    }

    &__col{
        &-center{
            width: 520px;
            margin-left: -50px;
        }

        &-left,
        &-right{
            display:flex;
            flex-direction: column;
            width: 395px;
        }

        &-right{
            position: relative;
            .seats-map__row{
                &-num{
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    &__row{
        display: flex;
        &-num{
            font-weight: 300;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            margin: 10px;
        }

        &:nth-child(10) &-num{
            margin-right: 4px;
        }
    }
}

.variants{
    max-width: 509px;
    width: 509px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    &__item{
        margin-right: 32px;
        display: flex;

        &:last{
            margin-right: 0;
        }

        &-icon{
            margin-right: 8px;
        }

        &-price{
            font-weight: 300;
            font-size: 16px;
            color: #fff;
        }
    }
}

.seat{
    border:none;
    outline:none;
    cursor: pointer;
    background: transparent;
    margin: 10px;
    width: 20px;
    height:20px;

    &--selected{
        &-svg{
            fill: #FF5555;
        }
    }

    &-svg{
        &--cheaper{
            fill: #92C57C;
        }
    
        &--less-cheaper{
            fill: #FAB760;
        }
    
        &--expensive{
            width: 60px;
            fill: #F086CB;
        }
    
        &--less-expensive{
            fill: #50C1F4;
        }
    
        &--disabled{
            fill: rgba(255, 255, 255, 0.4);
        }
    }
}

@media screen and (max-width: 1410px){
    .seats-map{
        width:100%;
        overflow-x: scroll;

        &__col{
            &-center{
                margin: 0;
            }
        }

        &__vip{
            margin-left: calc(665px - 250px);
            width: 500px;
        }
    }
}

@media screen and (max-width: 1390px){
    .seats-map__col{
        &-right {
            .seats-map__row-num {
                position: inherit;
            }
        }
        &-name:last-child{
            visibility: hidden;
        } 
    }
}