$main-color:#fff;
$secondary-color:#0F1014;
$color-blue: #325FFF;
$light-white-color:rgba(255, 255, 255, 0.9);
$medium-light-white-color:rgba(255, 255, 255, 0.8);
$extra-light-white-color:rgba(255, 255, 255, 0.4);


