.contact-form{
    position: relative;
    &__title{
        margin: 40px 0px;
        font-size: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }
}

.pop-up{
    position: absolute;
    width: 700px;
    height: 370px;
    background-color: #0F1014;
    border-radius: 4px;
    bottom: 310px;
    top: 13%;
    left: calc(50% - 350px);

    display: none;

    &__content{
        width: 373px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__title{
        margin: 32px 0px;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    &__exit-link{
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;

        &:hover{
            color: #fff;
        }
    }

    &__button-exit{
        cursor: pointer;
        border:none;
        outline:none;
        background: transparent;
        width:16px;
        height: 16px;
        position: absolute;
        right: 40px;
        top:40px;

        .pop-up__svg{
            fill: rgba(255, 255, 255, 0.8);
        }

        &:hover .pop-up__svg{
            fill: #fff;
        }
    }

    &--show{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    position: relative;

    &-text{
        position: absolute;
        top: 10px;
        left:10px;
        font-weight: 300;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.4);

        transition: top 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        
        &--fixed{
            top:-10px;
            background: #0F1014;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            padding: 0 8px;
        }
    }
}



.input{
    outline: none;
    background-color: transparent;
    width: 314px;
    height: 40px;
    margin-bottom: 32px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;

    color: #FFFFFF;

    &--long{
        height: 120px;
        resize: none;
    }

    &:focus{
        border-color: #FFFFFF;
        background-color: transparent;
    }

    &--focus{
        &:focus + .label-text{
            top:-10px;
            background: #0F1014;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            padding: 0 8px;
        }
    }


    &:hover{
        border-color: #FFFFFF;
    }
}

.button{
    cursor:pointer;
    outline: none;
    padding: 12px 41px;
    width: 179px;
    height: 44px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);

    &:hover{
        background: #FFFFFF;
        color: #0F1014;
        border-color: #FFFFFF;
    }
}

@media screen and (max-width: 700px){
    .pop-up{
        width: 100%;
        left: 0;

        &__title{
            margin: 32px 30px;
        }
    }
}

@media screen and (max-width: 425px){
    .pop-up{
        height: 276px;
    }
}

@media screen and (max-width: 360px){

    .input{
        width:100%;
    }
}