.contact-tab{
    &__sub-title{
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        margin: 40px 0px;
        text-align: center;
    }

    .form{
        width: 48%;
        margin: 0 auto;
        align-items: center;
    }

    .input{
        margin-bottom: 0;
    }

    .label{
        position: relative;
        width: 314px;
        margin-bottom: 32px;
        display: flex;
        justify-content: flex-start;
    }

    .label-text{
        font-weight: 300;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
        margin-left: 32px;
        margin-top: -10px;
        width: max-content;
    }

    .button-sub{
        outline: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        color: #0F1014;
        width: 230px;
        height: 44px;
        background: rgba(255, 255, 255, 0.9);
        margin: 48px 0px;

        &:hover{
            color: rgba(255, 255, 255, 1);
            background: #0F1014;
        }
    }
}

@media screen and (max-width: 768px){
    .contact-tab{
        .form{
            width: 100%;
            display: flex;
            align-items: center;
        }

        .label{
            width: 60%;             
        }

        .label-text{
            width: auto;
        }
    }
}

@media  screen and (max-width:480px) {
    .contact-tab{
        .label{
            width: 90%;             
        }
    }
}