.footer{
    background: #0F1014;
    padding: 40px 0 64px;

    &__container{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-list{
        list-style: none;
        margin: 48px 0px 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &__item{
            display: inline-block;
            margin-right: 48px;
            margin-bottom: 20px;
        }

        &__item:hover .footer-list__link{
            text-decoration: underline;
            color: #fff;
        }

        &__link{
            cursor: pointer;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            font-weight: 200;
            font-size: 16px;    
        }
    }
}

.app-links{
    margin-top: 40px;
    &__item{
        display: inline-block;
        width: 148px;
        height:48px;
        margin-right: 24px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .link-image{
        width: 100%;
        height:100%;
    }
}

@media screen and (max-width:433px){
    .footer{
        .social-networks{
            width: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width:404px){
    .footer{
        .app-links__item{
            margin: 0;
        }
    }
} 
