.default-select.MuiFormControl-root{
        width: 60px;

        .MuiInputBase-root{
            height:60px;

            .MuiSelect-root{
                text-align: center;
                min-width: auto;
                outline: none;
            
                &:focus {
                    border-radius: 0;
                    background-color: transparent;
                }
            }
        }


        .MuiMenuItem-root{
            color: #fff !important;
        }

        .MuiListItem-button:hover {
            text-decoration: none;
            background-color: #fff !important;
            color: #0F1014 !important;
        }

        .MuiSelect-selectMenu {
            color: #fff !important;
            margin-bottom: 32px !important;
            border: 1px solid rgba(255, 255, 255, 0.4) !important;
            padding: 10px !important;
            background-color: transparent !important;
        
            &:hover{
                border-color: #FFFFFF !important;
            }
        }

        .MuiMenu-list {
            width: 60px;
        }

        .MuiSelect-icon{
            display: none !important;
        }

        .MuiInput-underline:after, .MuiInput-underline::before{
            display: none;
        }
}
