.details--store{
    .details__poster {
        .poster-image {
            width: 196px;
            height: 312px;
            margin-top: 40px;
        }
    }

    .details-content__title{
        font-size: 24px;
    }
}