@import "../../styles/variables";

body{
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-width:320px;

    @media screen and (max-width:320px){
        overflow-x: scroll;
    }
}
.main{
    flex-grow: 1;
}